<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259362764057-7t42cget1c8hdoi5bb8pekpk39k00eqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259362764057-7t42cget1c8hdoi5bb8pekpk39k00eqq</string>
	<key>API_KEY</key>
	<string>AIzaSyArkwLpMpLuT8GXjo0la4zBJfgAWLXxttE</string>
	<key>GCM_SENDER_ID</key>
	<string>259362764057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizzaCieszyn</string>
	<key>PROJECT_ID</key>
	<string>pizza-cieszyn-123</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-cieszyn-123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259362764057:ios:d5e752d11e96a186d8c188</string>
</dict>
</plist>